{% extends "base.html" %}

{% block content %}
	<div class="header">
		<h1>Trollero</h1>
		<h4>Troll online discussions with confusing nonsense replies</h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="centered">
					<input type="text" id="subject" class="form-control subject input-lg" placeholder="subject (e.g. 'stuff you mention')">
					<a type="submit" href="#" id="generate" class="btn btn-lg btn-default generate">Generate</a>
				</div>
				<p id="troll-text" class="troll-text">{{ troll_text }}</p>
			</div>
		</div>
	</div>
{% endblock %}
